.chat-main
 .group-main
  .header
   .header__title
    = @group.name
   %ul.header__member
    Member : 
    %li.member
     -@group.group_users.each do |group_user|
      =group_user.user.name
  .group-main__edit-btn
   = link_to '#' do
    edit
   
 
 .message-list
  = render @messages

 .message-form
  .message-input
   = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'message-input__text', placeholder: 'type a message'
    .message-input__mask
     = f.label :image, class: 'message-input__mask__image' do
      =icon('fas','image', class: 'icon')
      =f.file_field :image, class: 'hidden', style: "display: none"
    = f.submit 'Send', class: 'message-input__submit'